<div class="Landstead-page">
   <div class="banner-left">
      <div class="container">
      </div>
   </div>
   <div class="container-fluid">
      <div class="row portalWrap">
         <div class="col-md-12">
            <h2>Invalidate Citizen</h2>
         </div>
      </div>
      <div class="row row1">
         <!-- Your content here -->
         <div class="col-md-6" style="margin-top:10px">
            <div class="panel panel-default">
               <div class="panel-heading" style="background-color: rgb(68, 68, 68); color: white;border-radius: 0px; color: #333">
                  <i class="fa fa-chevron-right"></i> Some text explaining what is done
               </div>
               <div class="panel-body">
                  <!-- Password Field -->
                  <label>Input the citizen's Account</label><br/>	
                  <input class="form-control form-control-lg" type="text" placeholder="{{'FORM_RECIPIENT_PLACEHOLDER' | translate}}" ng-model="$ctrl.citizenAccount"/>
                  <br/>
                  <button ng-click="$ctrl.invalidateCitizen()" ng-disabled="$ctrl.buttonDisabled" class="btn btn-lg btn-success">Invalidate</button>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="panel panel-default">
               <div class="panel-heading" style="background-color: rgb(68, 68, 68); color: white;border-radius: 0px; color: #333">
                  <i class="fa fa-chevron-right"></i> Status
               </div>
               <div class="panel-body">
                  <ul>
                    <!-- <li>BW seed: {{ $ctrl.formData.citizenID }}:{{ $ctrl.country}}</li>
                     <li ng-if="$ctrl.step.bwCreated">Linking account created: {{ $ctrl.cpAccount }}</li>
                     <li ng-if="$ctrl.step.cpMultiSigReady">cpMultiSigReady</li>
                     <li ng-if="$ctrl.step.cpLinked">cpLinked</li>
                     <li ng-if="$ctrl.step.tokensToCP">tokensToCP</li>
                     <li ng-if="$ctrl.step.tokensToC">tokensToC</li>
                     <li class="succed" ng-if="$ctrl.step.tokensToC">Citizen has been created Successfully</li>-->
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>