<div class="col-md-12 explorerNav">

    <div class="panel panel-default">
        <div class="panel-body" style="padding:0;">
          <div class="list-group" style="margin-bottom:0;">
            <a ui-sref-active="active" ui-sref="app.explorerHome" class="list-group-item" style="border-radius:0;">
            <i class="fa fa-home"></i> {{ 'EXPLORER_NAV_HOME' | translate }}
            </a>
            <!--<a class="list-group-item" style="border-radius:0;">
            <i class="fa fa-cubes"></i> Blocks
            </a>-->
            <a ui-sref-active="active" ui-sref="app.explorerNamespacesMosaics" class="list-group-item" style="border-radius:0;">
            <i class="fa fa-th"></i> {{ 'EXPLORER_NAV_NSM' | translate }}
            </a>
            <!--<a class="list-group-item" style="border-radius:0;">
            <i class="fa fa-envelope"></i> Messages
            </a>-->
            <a ui-sref-active="active" ui-sref="app.accountsExplorer" class="list-group-item" style="border-radius:0;">
            <i class="fa fa-users"></i> {{ 'GENERAL_ACCOUNTS' | translate }}
            </a>
            <a ui-sref-active="active" ui-sref="app.explorerApostilles" class="list-group-item" style="border-radius:0;">
            <i class="fa fa-certificate"></i> {{ 'EXPLORER_NAV_APOSTILLES' | translate }}
            </a>
          </div>
        </div>
    </div>
   
    </div>